@model Lifesum.Models.RecipeCalcuDto


<h5 style="text-align: center;">Nutritional Information</h5>
<table class="table table-striped" id="mytable">

    <tbody>
        <tr>
            <th>Calcium</th>
            <td style="float: right;">@Model.calcium</td>
        </tr>
        <tr>
            <th>Calories</th>
            <td style="float: right;">@Model.calories</td>
        </tr>
        <tr>
            <th>Carbohydrate</th>
            <td style="float: right;">@Model.carbohydrate</td>
        </tr>
        <tr>
            <th>Cholesterol</th>
            <td style="float: right;">@Model.cholesterol</td>
        </tr>
        <tr>
            <th>Fat</th>
            <td style="float: right;">@Model.fat</td>
        </tr>
        <tr>
            <th>Fiber</th>
            <td style="float: right;">@Model.fiber</td>
        </tr>
        <tr>
            <th>Iron</th>
            <td style="float: right;">@Model.iron</td>
        </tr>
        <tr>
            <th>Monounsaturated_fat</th>
            <td style="float: right;">@Model.monounsaturated_fat</td>
        </tr>
        <tr>
            <th>Polyunsaturated_fat</th>
            <td style="float: right;">@Model.polyunsaturated_fat</td>
        </tr>
        <tr>
            <th>Potassium</th>
            <td style="float: right;">@Model.potassium</td>
        </tr>
        <tr>
            <th>Protein</th>
            <td style="float: right;">@Model.protein</td>
        </tr>
        <tr>
            <th>Saturated_fat</th>
            <td style="float: right;">@Model.saturated_fat</td>
        </tr>
        <tr>
            <th>Sodium</th>
            <td style="float: right;">@Model.sodium</td>
        </tr>
        <tr>
            <th>Sugar</th>
            <td style="float: right;">@Model.sugar</td>
        </tr>
        <tr>
            <th>Vitamin_a</th>
            <td style="float: right;">@Model.vitamin_a</td>
        </tr>
        <tr>
            <th>Vitamin_c</th>
            <td style="float: right;">@Model.vitamin_c</td>
        </tr>
    </tbody>
</table>