@model Lifesum.Models.CascadingClass
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Meal Page";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />


@if (TempData["Msg"] != null)
{
    <div class="alert alert-cyan alert-dismissable" data-auto-dismiss role="alert">
        <h5 style="color: #4E9F3D; margin-bottom: 10px; font-size: 25px;">
            @TempData["Msg"]
        </h5>
    </div>
}

<div class="card mb-4">
    <div class="card-body">
        <h5 class="mb-4">Add Meal</h5>
        <form action="AddMeal" method="post" enctype="multipart/form-data" class="needs-validation tooltip-label-right">

            <div class="form-group position-relative error-l-50">
                <label>Name</label>
                <input type="text" name="name" placeholder="Name" class="form-control" required>
                <div class="invalid-tooltip">
                    Name is required!
                </div>
            </div>

            <div class="form-group position-relative error-l-50">
                <label>Image</label>
                <input type="file" name="image" accept="image/*" class="form-control" required>
                <div class="invalid-tooltip">
                    Image is required!
                </div>
            </div>

            <div class="search_bar">
                <label>Food Search</label>
                <div class="input-group position-relative error-l-50">
                    <input type="text" class="form-control" placeholder="Food Search" id="foodId" name="search" required>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" id="SubmitFoodSearch">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <div class="invalid-tooltip">
                        Food is required!
                    </div>
                </div>
            </div>

            <div class="form-group position-relative error-l-50" id="result" style="margin-top: 15px;">
                @*<select asp-for="FoodId" class="form-control" asp-items="@(new SelectList(ViewBag.Food, "FoodId", "title"))" required>
                        <option disabled selected value="">Select Food</option>
                    </select>*@

                <div class="invalid-tooltip">
                    Food is required!
                </div>
            </div>

            <div class="form-group position-relative error-l-50" id="Serving" style="margin-top: 15px;">
                @*<select asp-for="FoodId" class="form-control" asp-items="@(new SelectList(ViewBag.Food, "FoodId", "title"))" required>
                        <option disabled selected value="">Select Food</option>
                    </select>*@

                <div class="invalid-tooltip">
                    Serving is required!
                </div>
            </div>

            @*<div class="form-group position-relative error-l-50">
                    <label>Food</label>
                    <select asp-for="FoodId" name="food" class="form-control" asp-items="@(new SelectList(ViewBag.Food, "FoodId", "title"))" required>
                        <option disabled selected value="">Select Food</option>
                    </select>

                    <div class="invalid-tooltip">
                        Food is required!
                    </div>
                </div>

                <div class="form-group position-relative error-l-50">
                    <label>Serving</label>
                    <select asp-for="SerId" name="serving" class="form-control" asp-items="@(new SelectList(""))" required>
                        <option disabled selected value="">Select Serving</option>
                    </select>
                    <div class="invalid-tooltip">
                        Serving is required!
                    </div>
                </div>*@


            <button type="submit" class="btn btn-primary mb-0" style="background-color: #6fb327; border-color: #6fb327">Save</button>
        </form>
        <button id="add" class="btn btn-primary mb-0" style="float: right; margin-right: 72%; margin-top: -37px; background-color: #6fb327; border-color: #6fb327">Add Food to Meal</button>

    </div>
</div>

<div id="GetCalculation">

</div>


<script src="~/js/jquery-3.3.1.min.js"></script>
<script>
    //$(document).ready(function () {
    //    debugger
    //    $("#FoodId").change(function () {
    //        var CateId = $(this).val();
    //        debugger
    //        $.ajax({
    //            type: "post",
    //            url: "/Meal/GetSerList?id=" + CateId,
    //            contentType: "html",
    //            success: function (response) {
    //                debugger
    //                $("#SerId").empty();
    //                $("#SerId").append(response);

    //            }
    //        })
    //    });
    //});


     $(function () {
        $("#add").click(function () {
            var food = $('#FoodId').val();
            var serving = $('#SerId').val();
            debugger
            $.ajax({
                type: 'post',
                url: '@Url.Action("AddtoMeal", "Meal")',
                data: { 'food': food, 'serving': serving },
                contenttype: 'application/json; charset=utf-8',
                async: true,
                success: function (response) {
                    debugger
                    $("#GetCalculation").empty();
                    $("#GetCalculation").append(response);

                }
                })
                });
     });

     $(function () {
        $("#SubmitFoodSearch").click(function () {
            var foodName = $('#foodId').val();

            debugger
            $.ajax({
                type: 'post',
                url: '@Url.Action("DisplaySearchFood", "Recipe")',
                data: { 'foodName': foodName },
                contenttype: 'application/json; charset=utf-8',
                async: true,
                success: function (response) {
                    debugger
                    $("#result").empty();
                    $("#result").append(response);

                }
                })
                });
    });


    setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);

</script>







